body {
  position: relative;
  font-family: "Orbitron", "Quantico", sans-serif;
  /* font-size: 2rem; */
  background: linear-gradient(to bottom, #000000, #333333);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.6rem;
    font-family: "Orbitron", "Quantico", sans-serif;
    color: white;
    box-sizing: border-box;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .navbar .nav-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }

  .navbar .nav-tabs li {
    margin: 10px 0;
  }

  .navbar .nav-tabs li a {
    color: white;
    text-decoration: none;
  }
}

/* Media Query for Tablets and Large Mobile Devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }
}

/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 1rem;
  }
}



